body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home_P{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%;
    position: relative;
    z-index: 10;
    background-color: #fff;
}
.Home_section{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Home_img {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.Home_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.Home_date, .Home_img {
    flex: 1;
}
.Home_date{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 100px;
}
.Home_date h2{
    font-size: 50px;
    padding: 0%;
    margin: 0%;
    font-family: "Saira Condensed", sans-serif;
}
.Home_date h1{
    font-size: 80px;
    padding: 0%;
    margin: 0%;
    font-family: "Saira Condensed", sans-serif;

}
.Home_date h1 span{
    color: #FDB832;
    font-family: "Kumar One Outline", system-ui;

}
.Home_date h6{
    font-size: 20px;
    display: block;
    width: fit-content;
    padding: 0% 2% 0% 2%;
    margin: 0%;
    font-family: "Saira Condensed", sans-serif;
    background-color: #FDB832;
}
.Home_date p{
    font-size: 20px;
    padding-right: 20%;
    margin: 20px 0px;
    font-family: "Saira Condensed", sans-serif;
}
.Home_date a{
    font-size: 20px;
    padding: 10px 20px;
    margin: 0%;
    font-family: "Saira Condensed", sans-serif;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    width: fit-content;
}
.Home_date a:hover{
    background-color: #FDB832;
    color: rgb(0, 0, 0);
    transition: 0.3s;
}
.barra_lateral{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #FDB832;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.barra_lateral ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.barra_lateral ul li{
    margin: 20px 0;
}
.barra_lateral ul li a{
    text-decoration: none;
    color: black;
    font-family: "Saira Condensed", sans-serif;
    font-size: 20px;
}
.barra_lateral ul li a:hover{
    color: white;
    transition: 0.3s;
}
.barra_lateral ul li img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.About{
    padding-top: 120px;
    display: flex;
    margin-left: 200px;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: calc(100% - 200px);
    background-color: aqua;
}
.titulo_A{
    font-size: 50px;
    font-family: "Saira Condensed", sans-serif;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
}
.titulo_A h1{
    width: 80%;
    text-align: center;
    border: solid 2px black;
    align-items: center;
    margin: 0%;
}
.About_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}
.About_info h3{
    font-size: 30px;
   width: 80%;
    margin: 20px 0px;
    font-family: "Saira Condensed", sans-serif;
}
.About_info p{
    font-size: 20px;
    width: 80% ;
    margin: 20px 0px;
    font-family: "Saira Condensed", sans-serif;
}
.About_skill+{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(146, 146, 30);
}